@font-face {
    font-family: "Maple Mono";
    src: url("https://fontsapi.zeoseven.com/443/main.woff2") format('woff2'),
        url("https://fontsapi-storage.zeoseven.com/443/main.woff2") format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'LXGW WenKai Screen';
    src: url("/fonts/LXGWWenKaiMonoGBScreen.woff2") format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'LXGW GB Lite';
    src: url("/fonts/LXGWWenKaiMonoGBLite.woff2") format('woff2');
    font-display: swap;
    font-weight: normal;
}

    